<p>making game</p>

<%= form_with model: @game do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :length %>
  <%= form.number_field :length %>

  <%= form.label :starts_at %>
  <%= form.datetime_select :starts_at %>

  <%= form.label :ends_at %>
  <%= form.datetime_select :ends_at %>

  <%= form.submit%>
<% end %>